@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');


@font-face {
    font-family: "Interlope Regular";
    src: url('../css/Interlope-Regular.woff'); /*URL to font*/
}
@font-face {
    font-family: "LinealVF";
    src: url('../css/LinealVF.woff'); /*URL to font*/
}
@font-face {
    font-family: "Lineal Heavy";
    src: url('../css/Lineal-Heavy.woff'); /*URL to font*/
}

@font-face {
    font-family: "Feroniapi";
    src: url('../css/Feroniapi-MediumItalic.woff2'); /*URL to font*/
}

body {

    font-family: "Cascadia Mono", "Consolas", "Lucida Console", monospace;
    font-weight: 300;
    font-style: normal;
    color: light-dark(var(--light-color), var(--dark-color));
    background-color: light-dark(var(--light-bg), var(--dark-bg));


    /* font-family: Georgia, serif; */
      /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

  }

.container, .container {
    max-width: 70rem;

}
html {
    hyphens: auto;
    font-size: 75%;
}

:root {

    color-scheme: light dark;
  
    --light-bg: #fcfffc;
    --light-color: #1d1d1d;
    --light-h: rgb(33, 33, 33);
    --light-a: #094f0c;
    --light-menu: #edf6ee;	
    --light-underline: #acccac;	
    --light-url-bg: #edf3ed;
    --light-person-bg: #f3f7f3;
    --light-highlight: fuchsia;
  
    --dark-bg: #011b02;
    --dark-color: #f4f4f4;
    --dark-h: #f1f1f1;
    --dark-a: #acccac;
    --dark-menu: #022a05;
    --dark-underline: #06620b;
    --dark-url-bg: #000000;
    --dark-person-bg: #000600;
    --dark-highlight: #ff9cff;


}
.light {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
  }



p {
    text-align: left;
    margin-bottom: 0;
}

p + p {
    margin-top: 1.5rem;
}

a, .nav a {
    color: light-dark(var(--light-a), var(--dark-a));

}


.content p a, ul a {
    text-decoration-thickness:0.3rem ;
    text-decoration-line: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: light-dark(var(--light-underline), var(--dark-underline));

}

.content a.citation {
    text-decoration: none;
}
.content p a:hover, ul a:hover, ol a:hover {
    /* text-decoration: underline; */
    background-color: light-dark(var(--light-url-bg), var(--dark-url-bg));
    text-decoration: none;
}



.flip {
    display: inline-block;
    transform: scaleX(-1);
    filter: FlipH;
}

h1 {
    font-family: Feroniapi;
    font-size: clamp(2.8rem, 7vw, 6rem);
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

h1 #space
{    font-family: LinealVF;
    font-weight: 250;
    font-size: 90%;
}

h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 1rem;
    width: auto;

}

h3 {
    font-size: 3rem; 
    font-weight: 400;
    margin-bottom: 0.5rem;

}

h2, h3 {
    font-family: LinealVF;
}

h1 a:hover #meta {
        color: light-dark(var(--light-highlight), var(--dark-highlight));

}

h1 a, h2 a, h3 a {
    color: light-dark(var(--light-h), var(--dark-h));
}



.rainbow:hover
{
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1  !important;
}


.frame-figure {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

img.figure {
  filter: none;
  opacity: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;

}



.content {
    margin-top: 6rem;
}


  .bibliography {
    padding-left: 4rem;

  }

:target {
        padding-top: 6rem;
        z-index: -2;
        position: relative;

}


.bibliography  :target b {
    color: light-dark(var(--light-highlight), var(--dark-highlight));
}

.circle {
      border-radius: 100%;
  background-color: light-dark(var(--light-highlight), var(--dark-highlight));

  padding: 20px;
  width: 25vmin;
  height: 25vmin;
}

.rectangle {
  background-color: light-dark(var(--light-highlight), var(--dark-highlight));

  padding: 20px;
  width: 25vmin;
  height: 25vmin;
}
.rounded-rectangle {
          border-radius: 15%;

  background-color: light-dark(var(--light-highlight), var(--dark-highlight));

  padding: 20px;
  width: 25vmin;
  height: 25vmin;
}


.item {
    text-indent: -2em;
    list-style-type: none;
  }

footer.footer a {
    color: light-dark(var(--light-a), var(--dark-a));
    text-decoration: none;
}

footer.footer {
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 95%;
}

.bibliography li {

    text-indent: -4rem;
    list-style: none;
}

ol.bibliography li + ol.bibliography li 
{
    padding-top: 0.5rem;
} 


ul.socials {
    list-style-type: none;
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 1.5em 0 .7em;
}

ul.socials a:hover, ul.right-socials a:hover {
        background-color: unset;


}

h3.person {
    font-family: Feroniapi;
 font-weight: 500;
 font-size: 3.75rem;
}
.person-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person-name-socials {
    background-color: light-dark(var(--light-person-bg), var(--dark-person-bg));
}

.person-profile {
    background-color: light-dark(var(--light-person-bg), var(--dark-person-bg));
    margin-bottom: 4rem;
}

li.social {
    padding-right: 1rem;
    font-size: 2.5rem;
}

li.right-social {
    padding-left: 1.5rem;
    padding-right: 0;

}
#no-ai {
    height: 4rem;
    width: 4rem;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: inline-block;
}

rect {
  fill: light-dark(var(--light-a), var(--dark-a));

}

circle, line {
    stroke: light-dark(var(--light-color), var(--dark-color));
}

.person-photo {
            display: flex;

    align-content: end;
}


@media screen and (max-width: 600px) {
    .content {
        font-size: smaller;
    }
    
    h2 {
        font-size: 3.25rem;
    }
    
    h3 {
        font-size: 2.5rem;
    }
        .frame-figure {
        width: 60%;
}
ul.socials {
    justify-content: left;
    margin-top: 0rem;

}
}
 
@media screen and (max-width: 700px) {


h3.person {
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.socials {
margin-bottom: 0;
}


}



@media screen and (max-width: 900px) {


.person-photo {
    display: flex;
    align-items: center;
}


}


#navbar {
    position: sticky;
    top: 0;
    z-index: 999;
    overflow: hidden;
    background-color: light-dark(var(--light-menu), var(--dark-menu));
    margin-bottom: 3rem;
    position: fixed;
    width: 100%;

} 

#navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 1rem calc(var(--grid-gutter)*0.5); 
    text-decoration: none;
    min-width: 5rem;
    font-size: 1.4rem;
} 

#nav-icons a{
    float:right;

}

@media screen and (max-width: 410px) {


        #navbar a {
            padding: 0.9rem calc(var(--grid-gutter)*0.45); 
            min-width: 4rem;
            font-size: 80%;
        }
        #navbar {
            position: absolute;
        }
    }
@media screen and (max-width: 340px) {

        #navbar a {
            padding: 0.85rem calc(var(--grid-gutter)*0.4); 

        }
}