    :root {

    color-scheme: light dark;
  
    --light-bg: #f7ece9;
    --light-color: #1e1e20;
    --light-h: rgb(33, 33, 33);
    --light-a: #593a38;
    --light-menu: fuchsia;	
    --light-underline: #c6b8b4;	
    --light-url-bg: #f7d9d9;
    --light-person-bg: #fcf6f0e3;
    --light-highlight: fuchsia;

  
    --dark-bg: #1e1e20;
    --dark-color: #f7ece9;
    --dark-h: #f1f1f1;
    --dark-a: #e1c4ae;
    --dark-menu:  rgb(255, 0, 255);	
    --dark-underline: #62554b;
    --dark-url-bg: #200101;
    --dark-person-bg: #3a3326d1;
    --dark-highlight: fuchsia;



} 
 
 #header {
   background-image: url("https://cdn.architextures.org/textures/23/7/sabbia-terrazzo-none-gi8h8y.jpg");

   background-image:
      url("https://cdn.architextures.org/textures/26/5/egea-8290-eurogolv-terrazzo-ab-hel1l1.jpg"); /* W3C */
   background-size: 100rem;


  border-bottom: 0.5rem solid light-dark(var(--light-highlight), var(--dark-highlight));
    }

    .dark #header {
   background-image:
      url("https://cdn.architextures.org/textures/26/5/egea-8250-eurogolv-terrazzo-ab-o3ioli.jpg"); /* W3C */
 
    } 


#navbar a, footer.footer a 
{
    color: var(--light-bg); 



}

footer.footer a 
{
    text-decoration-color: rgba(255, 192, 203, 0.5);

}

footer.footer {
    color: var(--light-bg); 
    background-color: var(--light-menu);
} 



.divider
{
  /* padding-top: 7rem; */
 background-size: 100%;
  width: 100%;
    border-bottom: 0.5rem solid light-dark(var(--light-highlight), 
    var(--dark-highlight));
  position: absolute;
  z-index: -1;
}



