<nav id="navbar">
  <div class="container"> 

<div class="row">
     
<div class="col-12">
  <div class="">
            <a href="./#about">about</a>
            <a href="./#people">people</a>
            <a href="./#research">research</a>
            <a href="./#publications" class="hide-xs">publications</a>
  </div>
   <div id="nav-icons">
      <a href="#here" alt="toggle dark mode" onclick="toggleDarkMode(this.firstChild.nextSibling.id)">
        <i class="fa-solid fa-moon" id="dark"></i>
      </a>
  </div>
  </div>
  </div></div>
</nav>
