<nav class="nav">
    <div class="nav-container">
     <div class="nav-center">
            <!-- <a class="brand" href="#top">
                <span class="logotext">
                    metatheory
                    <span class="lowertext">
                        .space
                    </span>
                </span> -->

            <a href="./#about">about</a>
            <a href="./#people">people</a>
            <a href="./#research">research</a>

            <a href="#here" alt="toggle dark mode" onclick="toggleDarkMode(this.firstChild.nextSibling.id)">
            <i class="fa-solid fa-moon" id="dark"></i>
            </a>

        </div>
    </div>
</nav>