{% assign people_by_order = site.people | group_by: 'category' | sort:'category' | reverse %}

{% for category in people_by_order %} 
<h3>{{ category.name }}</h3>

{% assign people = category.items | sort: 'surname' %}


{% for person in people %}

{% if person %}
<div class="person-anchor" id="{{ person.firstname }}{{ person.surname }}"></div>

<div class="row person-name-socials">
    <div class="col-5-lg col-5-md col-5-sm col-12">
    <h4 class="person">
      <a href="#{{ person.firstname }}{{ person.surname }}">{{ person.firstname }} {{ person.surname }}</a></h4>
    </div>

    {% if person.socials %}
    <div class="col-7-lg col-7-md col-7-sm col-12">
    <ul class="socials">
    {% if person.socials.bsky %}
    <li class="social"><a href="{{ person.socials.bsky }}" title="Follow {{ person.firstname }} {{ person.surname }} on Bluesky" style="text-decoration:none" rel="me"><i class="fa-brands fa-bluesky"></i></a></li>{% endif %}

    {% if person.socials.mastodon %}
    <li class="social"><a href="{{ person.socials.mastodon }}" title="Follow {{ person.firstname }} {{ person.surname }} on Mastodon" style="text-decoration:none" rel="me">
    <i class="fa-brands fa-mastodon"></i></a></li>{% endif %}

    {% if person.socials.github %}
    <li class="social"><a href="{{ person.socials.github }}" title="Fork {{ person.firstname }} {{ person.surname }} on GitHub" style="text-decoration:none" rel="me"><i class="fa-brands fa-github" aria-hidden="true"></i></a></li>{% endif %}

    {% if person.socials.scholar %}
    <li class="social"><a href="{{ person.socials.scholar }}" title="View {{ person.firstname }} {{ person.surname }}'s Google Scholar profile" style="text-decoration:none" rel="me"><i class="ai ai-google-scholar" aria-hidden="true"></i></a></li>{% endif %}

    {% if person.socials.philpapers %}
    <li class="social"><a href="{{ person.socials.philpapers }}" title="View {{ person.firstname }} {{ person.surname }}'s PhilPeople profile" style="text-decoration:none" rel="me"><i class="ai ai-philpapers" aria-hidden="true"></i></a></li>{% endif %}

    {% if person.socials.orcid %}
    <li class="social"><a href="{{ person.socials.orcid }}" title="View {{ person.firstname }} {{ person.surname }}'s ORCID profile" style="text-decoration:none" rel="me"><i class="ai ai-orcid" aria-hidden="true"></i></a></li>{% endif %}
    </ul>
    </div>
    {% endif %}
</div>
<div class="row person-profile is-vertical-align">
  {% if person.image_path %}
  <div class="col-4-lg col-4-md col-4-sm col-4">
    <div class="frame-figure">
      <img src="{{ person.image_path }}" 
      alt="photograph of {{ person.firstname }} {{ person.surname }}"
      class="">
    </div>
  </div> 
  {% endif %}
  <div class="col"></div>
  
  <div class="col-7-lg col-7-md col-7-sm col-7">

  {{ person.bio }} 
  
  </div> 
</div>
{% endif %}
{% endfor %}
{% endfor %}


{% comment %}
{% include alumni.html %}
{% endcomment %}