<div class="row">
<div class="col-12">
          <h2 id="readings"><a href="#readings">readings</a></h2>
     </div>
</div>

<div class="row">
<div class="col-4 is-horizontal-align">
    <div class="book">
        <img src="images/morgan_morrison.jpg">

    </div>
    </div>
<div class="col-8 is-horizontal-align">
              <p>{% bibliography --query @*[key = morgan1999models] %}</p>

    </div>

</div>

<div class="col-6 is-horizontal-align">
    <div class="book">    
        <img src="images/egan.jpg">
            <p>{% bibliography --query @*[key = morgan1999models] %}</p>
    </div>
</div>
</div>
<!-- Stengers
Models as Mediators
True Enough
Deflating mental representation
the unity of perception
mazviita chirimuuta -->