<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/randomise.js"></script>
        <title>{{ page.title }}</title>
    </head>

    <style>
        body.dark {
          --bg-color: #000;
          --bg-secondary-color: #131316;
          --font-color: #f5f5f5;
          --color-grey: #ccc;
          --color-darkGrey: #777;
        }
      </style>
      <script>
        if (window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.body.classList.add('dark');
        }
      </script>

    <body>

        {% include navigation.html %}

        <div class="container"> 
            <div class="content"> 
            <main>
                {{ content }}
            </main>

            {% include footer.html %}
        </div>
    </body>
</html>