<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
        <title>{{ page.title }}</title>
    </head>

    <style>
        body.dark {
          --bg-color: #000;
          --bg-secondary-color: #131316;
          --font-color: #f5f5f5;
          --color-grey: #ccc;
          --color-darkGrey: #777;
        }
      </style>
      <script>
        if (window.matchMedia &&
            window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.body.classList.add('dark');
        }
      </script>

    <body>

        {% include navigation.html %}

        <div class="container"> 
            <div class="content"> 
            <main>
                {{ content }}
            </main>

            {% include footer.html %}
        </div>
    </body>
</html>